[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/oldgorden/livox_ros_driver2.git
[submodule "src/livox_laser_simulation_ros2"]
	path = src/livox_laser_simulation_ros2
	url = https://github.com/oldgorden/livox_laser_simulation_ros2.git
